.container {
    max-width: 100% !important;
    background-color: hsl(185, 41%, 84%);
    height: 120vh;
    margin: 0 !important;
    padding: 4.7rem 6rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: -7rem 0 3rem 0;
}
.row {
    border-radius: 12px;
    width: 100% !important;
    max-width: 80% !important;
    height: 500px;
    background-color: hsl(189, 41%, 97%);
    padding: 1.7rem;
}
.calc_dark {
    width: 100%;
    height: 100%;
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
}
.form_group {
    width: 100%;
    height: 70px;
}
.form_wrap {
    padding-top: 1rem;
}
.form-label {
    text-align: left;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    margin-left: -26rem;
    font-weight: 500;
}
.form-label.customer {
    margin-left: -15rem;
}
.form-label.tip {
    margin-left: -19rem;
}
.input-group {
    height: 50px;
}
.input-group, .form-control, .input-group-text {
    background-color: hsl(185, 41%, 90%) !important;
    border: none !important;
    border-radius: 5px;
}
.input-group>.form-control {
    direction: rtl;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
}
.input-group>.form-control::placeholder {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
}
.input-group>.form-control:focus {
    border: none;
}
.form_contain {
    width: 100%;
    height: auto;
}